html {
    background-color: #f2f2f2;
    background-image: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    left: 50%;
}

ol {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    right: 5%;
}

li {
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    color: #0066cc;
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    background: none;
}

a {
    font-size: 30px;
    font-family: "Brush Script MT", cursive;
    color: #0066cc;
    text-decoration: none;
}
